USE [master]
GO
/****** Object:  Database [ClimaDB]    Script Date: 20/8/2025 10:44:20 p. m. ******/
CREATE DATABASE [ClimaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClimaDB', FILENAME = N'C:\SQLData\ClimaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClimaDB_log', FILENAME = N'C:\SQLData\ClimaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClimaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClimaDB]
GO
/****** Object:  Table [dbo].[DatosClima]    Script Date: 20/8/2025 10:44:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosClima](
	[idDato] [int] IDENTITY(1,1) NOT NULL,
	[idLocalizacion] [int] NULL,
	[fechaHoraConsulta] [datetime] NOT NULL,
	[temperatura] [decimal](5, 2) NULL,
	[humedad] [int] NULL,
	[descripcion] [nvarchar](100) NULL,
	[velocidadViento] [decimal](5, 2) NULL,
	[presion] [decimal](7, 2) NULL,
	[visibilidad] [decimal](7, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idDato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localizaciones]    Script Date: 20/8/2025 10:44:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localizaciones](
	[idLocalizacion] [int] IDENTITY(1,1) NOT NULL,
	[nombreCiudad] [nvarchar](100) NULL,
	[pais] [nvarchar](50) NULL,
	[latitud] [decimal](9, 6) NULL,
	[longitud] [decimal](9, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[idLocalizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DatosClima]  WITH CHECK ADD FOREIGN KEY([idLocalizacion])
REFERENCES [dbo].[Localizaciones] ([idLocalizacion])
GO
USE [master]
GO
